
	
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
	<!-- <title>Login Form Using HTML And CSS Only</title> -->
<!-- </head> -->
<!-- <body> -->
	<div class="back">
    <div class="container" id="container">
		<div class="form-container log-in-container">
			<form action="#">
				<h1>LOGIN</h1>
				<div class="social-container">
					<a href="https://www.facebook.com/" class="social"><i class="fa fa-facebook fa-2x"></i></a>
					<a href="https://twitter.com/?lang=en-in" class="social"><i class="fab fa fa-twitter fa-2x"></i></a>
				</div>
		
				<input type="email" placeholder="Email" [(ngModel)]="email" name="email" value=" "/>
				<input type="password" placeholder="Password" [(ngModel)]="password" name="password"value=" " />
				<a href="#">Forgot your password?</a>
				<button id ="login-btn" (click)="login()">Log In</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
					<h1>E-SPORTS</h1>
					<p>It is hard to fail, but it is worse never to have tried to succeed.</p><br><br>
                    <p id="slogan"> India's #1 online sports store. <br> <br>Buy sports goods, sports equipment, fitness equipment, sports items for low prices online on our sport store.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- </body> -->
<!-- </html> -->