@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
.round{
    border-radius: 100%;
    border-color: white;
    
}
.font{
    font-family: 'Pacifico', cursive;
}
.font2{
    font-family: 'Lato', sans-serif;
}
